*{
    font-family: 'Roboto', sans-serif;
    color: #013A4C;
    
}

body{
    padding: 0;
    margin: 0;
}

header{
    height: 70px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#links span{
    margin: 0 20px;
    box-sizing: border-box;
    
}

button{
    padding: 0 15px;
    height: 40px;
    background-color: #fff;
    border: solid 1px #013A4C;
    border-radius: 5px;
}

.yellow_button{
    border: none;
    background-color: #FFD063;
    margin-right: 10px;
}

.yellow_button:hover{
    transition: all 0.5s;
    background-color: #fff;
    border: solid 0.5px #013A4C;
    border-radius: 5px;
}

button:hover{
    transition: all 0.7s;
    border: none;
    background-color: #FFD063;  
}

.grandma{
    display: flex;
    box-sizing: border-box;
    justify-content: flex-start;
    box-sizing: border-box;
    background-size: 100%;
    height: 600px;
    background-image: url(../SmartContact/img/grandma.jpeg);
    background-repeat: no-repeat;
    
}

.grandma div{
    margin: 70px 0 0 50px;
}


.big_text{

    font-size: 60px;
}

.sponsors{
    display:flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #013A4C;
}

.sponsors img{
    
    margin: 0 20px;
    width: 80px;
    height: 35px;
}

#white{
    font-weight: 100;
    margin: 50px 0 40px 0;
    font-size: 20px;
    color: #fff;
}

.contact_img{
    
    padding: 90px 60px 0 60px;
    display: flex;
    justify-content:space-around;
    background-color: #013A4C;
}

.contact_img img{
    width: 20%;
}

.contact_img p{

    margin: 30px 0;
    color: #fff;
}

.big_text{
    font-size: 40px;
    
}

.collaborate{
    padding-top: 80px;
    background-color: #013A4C;
    display: flex;
    justify-content: center;
}

.collaborate img{
    width: 70%;
}

.pressPlay img{
    margin: 0;
    width: 100%;
}

.magic-hand{
    
    height: 1480px;
    background-size: 100%;
    background-image: url(../SmartContact/img/hand.jpeg);
    display: flex;
    flex-direction: column;
}

.magic-hand img{
    width: 109px;
    height: 109px;
}

.right{
    margin:  60px 0;
    display: flex;
    justify-content:space-around; 
}

.second-right{
    padding-left: 300px;
}
    
.second-left{

    padding-right: 300px;
}
.center{
    display: flex;
   justify-content: center; 
}

.left{
    margin: 0 60px;
    display: flex;
    justify-content:space-around; 
}

.medium-text{
    font-size:30px;
}

.blue-button{
    color: #fff;
    background-color: #013A4C;
}

.tennis{
    height: 590px;
    background-size: 100% 590px;
    background-repeat: no-repeat;
    background-image: url(../SmartContact/img/tennis.jpeg);
    display: flex;
    justify-content:space-around;
    align-items: center ;
    word-spacing: 4px;
    
}

.tennis p {
    color: #fff;
}

.commentaries{
    padding: 40px 0 0 0;
}

#text-right{
    font-size: 30px;
    margin-left: 60px;
}

.comments{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.redText{
    color: #89285B;
}

.comments>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 270px;
    border: solid 1px;
    border-radius: 10px;
}

.comments p{
    font-size: 12px;
}

.comments img{
    padding: 20px 20px 0 0;
    box-sizing: border-box;
    width: 55px;
    height: 55px;
}

.commentator{
    display: flex;
}

.colaborate{
    color: #013A4C;
    padding: 0 60px 0 60px;
    display: flex;
    justify-content:space-around;
    
}

.colaborate>div{
    margin-top: 100px;
}

.colaborate img{
    width: 30%;
    margin-bottom: 100px;
}

.colaborate p{
    margin: 30px 0;
    color: #013A4C;
}

.other-offers{
   display:flex;
   justify-content: center;
   align-items: center; 
   text-align: center;
}

.other-offers>div{
    
    justify-content: center;
    flex-direction: column;
    width: 100%;
} 

.mini-img{
    width: 70%;
}

#offers{
    display: flex;
    justify-content: center;
}

#offers img{
    margin: 10px 35px;
    width: 20%;
}

.h2_left{
    margin-top: 90px;
    margin-left: 95px;
    margin-bottom: 30px;
}

.oneflow{
    display: flex;
    justify-content: center;

    align-items: center;
}

.oneflow div{
    text-align: center;
    margin: 0 20px;
}

.oneflow img{
    width: 560px;
    height: 315px;
}

footer{
    margin-top: 30px;
    padding-top: 20px;
    display: flex;
    background-color: #013A4C;
    justify-content: space-around;
}

footer p,span{
    color: #fff;
    font-size: 15px;
}

footer h2{
    color: #fff;
    font-size: 30px;
}

.footer_buttons{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer_buttons div{
    margin: 0 30px;
}

.footer_buttons p{
    font-size: 12px;
}